.center {
    flex:0.6;
    display: flex;
    flex-direction:column;
}


.title {
    flex:0.05;
    display:flex;
}


.main{
    flex: 0.8px;
    background-color:#ffffff;
    
    border: 1px solid #e6e3e3;
    border-radius: 11px;
    margin: 0;
    padd
    display:flex;
    flex-direction:column;
}


.calendar {


    display: inline-block;
    height: 60px;
    margin: 10px;
    border-radius: 9px;
    border: 1px solid rgb(182, 182, 182);


    display: flex;
}


.month {
    flex:0.13;
    padding: 5px 5px;
    text-align: center;
    color: #23728a; 
    margin-top: 5px;   
}



.date {
    flex:0.5;
}


td{   
    padding: 4px 4px;
    vertical-align: middle;
    text-align: center;
}


.sat {
    color:blue;
}
.sun{
    color:red;
}





.diaryform{
    flex: 0.5px;
    display: flex;
    flex-direction: column;


    overflow-y: scroll;
    overflow-x:hidden;
}


.writeform{
    flex:0.2px;
    display:flex;
    flex-direction:column;
    border-radius:9px;
    border: 1px solid rgb(190, 187, 187);
    margin : 30px;
}


.day{
    flex:0.3px;
    display: inline-flex; 
    padding: 25px;
}


.write{
    flex:0.5px;
    display: inline-block;
    width: 500px;
    text-align: center;   
    line-height: 40px;
    padding-bottom: 30px;
    
}


.secret{
    flex:0.2px;
    width:150px;
    text-align: center;
    color:#ffffff;
    margin-bottom: 20px;
    margin-left: 230px;
}


.secret:hover{
    color:rgb(255, 255, 255);
    font-weight: bold;
    background-color: #1b996f; 


}


.icon{
    color:rgb(255, 255, 255);
}